{% extends "base.html" %}
{% block content %}
{% load static %}


<!-- Delete section-->
<section id="update_checklist">
    {% if user.is_authenticated %}
    <div class="container my-5 py-5">
        <div class="row justify-content-center align-items-center  text-align-center">
            <div class="col-md-8 card">

                <div class="card-body">
                    <h1 class="text-center">Delete from CheckList</h1>
                    <hr class="hr_checkbox">
                    <h4 class="mb-4"> Are you sure you want to delete <span class="text-danger"> <u>"{{item}}" </u></span> ? </h4>
                    
                    <!-- Form to update selected checklist input -->
                    <form method="POST">
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-danger btn-signup btn-lg mb-3 ">Delete</button>
                        <a href="{% url 'checklist' %}" class="btn btn-lg btn-secondary mb-3" >Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="d-flex justify-content-center">
      <a href="{% url 'account_login' %}"
        class="btn text-primary justify-content-center btn-lg align-items-center text-center"> <u>Log in to use
          Checklist </u></a>
    </div>
    {% endif %}
</section>


{% endblock %}