{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="justify-content-center align-items-center">

<form method="POST" action="/tradingcheck/list/">
    {%csrf_token%}
    {{form.title}}
    <input type="submit" name="Create list">
   
</form>

{% for list in checklist %}
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="checkbox">
    <label class="custom-control-label" for="customCheck1"> {{list}} </label>
  </div>
  {% endfor %}



</section>






{% endblock %}