{% extends "base.html" %}
{% block content %}
{% load static %}

{% load crispy_forms_tags %}

<!--Checklist section-->
<section id="checklist_hero">
  {% if user.is_authenticated %}
  <p class="text-center text-md-end text-success"><u>You are logged in as {{ user }}</u></p>
  {% else %}
  <p class="text-end text-center text-md-end text-success">You are not logged in</p>
  {% endif %}

  <div class="container checklist my-5">
    <div class="row justify-content-center align-items-center text-align-center">
      <div class="col-md-8 card mb-4 mt-3 ">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h2 class=" d-flex text-align-center justify-content-center display-5 fw-bold">Trade Checklist</h2>
          <hr class="hr_checkbox">

          <!-- Form to enter new inputs for Trade checklist -->
          <form class="checklist" id="ListForm" method="post" style="margin-top: 1.3em;">
            {{ form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-success btn-signup btn-lg">Submit</button>
          </form>

          <!-- Loop through checklist and Strike through completed checklist item -->
          <hr class="hr_checkbox">
          {% for list in checklist %}
          <div class="m-2">
            <h4 class="my-3">
              {% if list.complete == True %}
              <strike>
                {{list | linebreaks}} </strike>
              {% else %}
              <span> {{list | linebreaks}} </span>
              {% endif %}
            </h4>
            <a class="btn btn-sm btn-primary" href="{% url 'update_list' list.id %}">Update</a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete_list' list.id %}">Delete</a>
          </div>
          {% endfor %}
          <!-- If user is not logged in then Show log in link -->
          {% else %}
          <div class="d-flex justify-content-center">
            <a href="{% url 'account_login' %}"
              class="btn text-primary justify-content-center btn-lg align-items-center text-center"> <u>Log in to use
                Checklist </u></a>
          </div>
          {% endif %}
        </div>
      </div>
</section>

{% endblock %}