section {
   padding: 60px;
}

hr{
    
    border: 3px solid rgb(0, 0, 0);
    border-radius:3px;
}

h1 {
    font-weight:bold;
}


#start {
    height:100vh;
    position:relative;
    isolation: isolate;
}

/* Part Code from Kevin Powell YouTube video on how to set opacity */
#start ::after {
    content:"";
    position: absolute;
    inset:0;
    z-index:-1;
    opacity: .2;
    filter:brightness(0.4);
    
    background: url(/static/css/img/main_hero.jpg) no-repeat center center fixed;
    background-size: cover;
}


#faq{
    background-color: rgb(33, 37, 41)
 
}

#line{
    color:black;
    margin:15px;
}

.card{
    height: 100px;
}

@media (max-width: 752px){
.line {
    border-bottom: solid 2px;
}
}



