section {
   padding: 60px;
}


h1 {
    font-weight:bold;
}

hr{
    color: aliceblue;
}

#start {
    height:100vh;
    position:relative;
    isolation: isolate;
}

/* Part Code from Kevin Powell YouTube video on how to set opacity */
#start ::after {
    content:"";
    position: absolute;
    inset:0;
    z-index:-1;
    opacity: .2;
    filter:brightness(0.4);
    
    background: url(/static/css/img/main_hero.jpg) no-repeat center center fixed;
    background-size: cover;
}

#hr_hero{
    
    border: 3px solid rgb(0, 0, 0);
    border-radius:3px;
}

#faq{
    background-color: #e8e8e8;
background-image: linear-gradient(225deg, #e8e8e8 0%, #966c6e 33%, #605e5e 66%, #000000 100%);
 
}

#line{
    color:black;
    margin:15px;
}

#journal{
    background-color: #e8e8e8;
background-image: linear-gradient(225deg, #e8e8e8 0%, #966c6e 33%, #605e5e 66%, #000000 100%);

     /*background-color: #e8e8e8;
    background-image: linear-gradient(225deg, #e8e8e8 0%, #966c6e 33%, #000000 66%, #000000 100%);*/
    
}

#journal_hero{
    height:80vh;
    position:relative;
    isolation: isolate;
}

#journal_hero ::after {
    content:"";
    position: absolute;
    inset:0;
    z-index:-1;
    opacity: .2;
    filter:brightness(0.4);
    
    background: url(/static/css/img/journal_hero.png) no-repeat center center fixed;
    background-size: cover;
}

#journal_detail{
    height:100vh;
    background: url(/static/css/img/post_detail_hero.jpg) no-repeat center center fixed;
    background-size: cover;
}

#card_hr {
    border:1px dashed black;
}
@media (max-width: 752px){
.line {
    border-bottom: solid 2px;
}
}



