section {
   padding: 60px;
}

#start {
    height:100vh;
    position:relative;
    isolation: isolate;
}

#start ::after {
    content:"";
    position: absolute;
    inset:0;
    z-index:-1;
    opacity: .2;
    filter:brightness(0.4);
    
    background: url(/static/css/img/c.jpg) no-repeat center center fixed;
    background-size: cover;
}


#faq{
    background: url(/static/css/img/wow.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

#line{
    color:black;
    margin:15px;
}

.card{
    height: 100px;
}

h1 {
    font-weight:bold;
}

.hr{
    color:black;
    font-weight:bold;
}

