{% extends "base.html" %}
{% block content %}
{% load static %}

<section id="journal_hero">
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div class="row mt-5">
            <div class="col-lg-5">
                <h1 class="display-1 fw-bold text-white text-uppercase text-center"> <strong>Journal</strong></h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            {% for post in object_list %}
            <div class="col-md-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body">
                      <h5 class="card-title text-primary">{{post.title}}</h5>
                      <p class="card-text">{{post.excerpt}}</p>
                      <a href="#" class="btn btn-primary">Go here</a>
                    </div>
                  </div>
                  </div>
                  {% endfor %}
    
    </div>
    </div>
</section>

{% endblock %}
