section {
   padding: 60px;
}


h1 {
    font-weight:bold;
}

hr{
    color: aliceblue;
}

a {
    z-index:100;
    position: relative;
}


.btn {
    z-index:99;
    position: relative;
}

#start {
    height:100vh;
    position:relative;
    isolation: isolate;
}


/* Part Code from Kevin Powell YouTube video on how to set opacity */
#start ::after {
    content:"";
    position: absolute;
    inset:0;
    z-index:-1;
    opacity: .2;
    filter:brightness(0.4);
    
    background: url(/static/css/img/main_hero.jpg) no-repeat center center fixed;
    background-size: cover;
}

#hr_hero{
    
    border: 3px solid rgb(0, 0, 0);
    border-radius:3px;
}

#faq{
    background-color: #e8e8e8;
background-image: linear-gradient(225deg, #e8e8e8 0%, #966c6e 33%, #605e5e 66%, #000000 100%);
 
}

#line{
    color:black;
    margin:15px;
}


#journal_hero{
    height:80vh;
    position:relative;
    isolation: isolate;
}

#journal_hero ::after {
    content:"";
    position: absolute;
    inset:0;
    z-index:-1;
    opacity: .2;
    filter:brightness(0.4);
    
    background: url(/static/css/img/journal_hero.jpg) no-repeat center center fixed;
    background-size: cover;
}

#journal_detail{
    position:relative;
    isolation: isolate;
}

#journal_detail ::after {
    content:"";
    position: absolute;
    inset:0;
    z-index:-1;
    opacity: .2;
    filter:brightness(0.4);
    
    background: url(/static/css/img/post_detail_hero.jpg) no-repeat center center fixed;
    background-size: cover;
}

#card_hr {
    border:1px dashed black;
}

#login {
    height:100vh;
    position:relative;
    isolation: isolate;
}

#login ::after {
    content:"";
    position: absolute;
    inset:0;
    z-index:-1;
    opacity: .2;
    filter:brightness(0.4);
    
    background: url(/static/css/img/login_hero.jpg) no-repeat center center fixed;
    background-size: cover;
}

#logout {
    height:100vh;
    position:relative;
    isolation: isolate;
}

#logout ::after {
    content:"";
    position: absolute;
    inset:0;
    z-index:-1;
    opacity: .2;
    filter:brightness(0.4);
    
    background: url(/static/css/img/logout_hero.jpg) no-repeat center center fixed;
    background-size: cover;
}

#sign_up {
    height:100vh;
    position:relative;
    isolation: isolate;
}

#sign_up ::after {
    content:"";
    position: absolute;
    inset:0;
    z-index:-1;
    opacity: .2;
    filter:brightness(0.4);
    
    background: url(/static/css/img/sign_up_hero.jpg) no-repeat center center fixed;
    background-size: cover;
}


@media (max-width: 752px){
.line {
    border-bottom: solid 2px;
}
}


@media (max-height: 780px){
    #start {
        height:auto;
    }

    #journal_hero{
        height:auto;
    }

    #login {
        height:80vh;
    }

    #logout {
        height:80vh;
    }

    #sign_up {
        height:auto;
    }

   
    }

    @media (max-height: 420px){
        #login {
            height:auto;
        }
    }
    


